<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Beer and Bread</h2>
        </header>
        <p>I am a <strong>strong independent</strong> woman,
        <br />
        with a passion for beer
        <br />
        and carbs.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">YAS</a></li>
            </ul>
        </footer>

    </div>

</section>
